<script>
  function yearFunc() {
    document.forms[0].submit();
  }
</script>
<form method="POST" action="/getHolidaysForYear">
  <nav class="navbar sticky top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Quadyster</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="fas fa-home fa-fw" style="color:darkblue"></i> Clock Time </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="fas fa-list fa-fw" style="color:darkgreen"></i> Timelog </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="fas fa-umbrella-beach fa-fw" style="color:maroon"></i> Holiday </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#"><i class="fas fa-hand-holding-usd fa-fw" style="color:darkred"></i> Time Summary
          </a>
        </li>
      </ul>

      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user fa-1x" style="color:purple"></i> </a>

        </li>
      </ul>
    </div>
  </nav>
  <div class="table bg-info mb-0 mt-1">
    <div class="row bg-info text-white">
      <div class="col-2 text-right">Filter - Year :</div>
      <div class="col-2 text-left">
        <select name="mySelect" class="custom-select" id="mySelect" onchange="yearFunc();">
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
        </select>
      </div>
      <div class="col-1 text-left">
        <a class="btn text-white"><i class="fas fa-filter fa-fw" style="color:white"></i>&nbsp;Filter</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row bg-dark text-white">
      <div class="col-2">Date</div>
      <div class="col-3">Type</div>
      <div class="col-2">Desc</div>
      <div class="col-5">Location</div>
    </div>
    {{# each holidays}}
    <div class="row">
      <div class="col-2">{{this.date}}</div>
      <div class="col-3">{{this.type}}</div>
      <div class="col-2">{{this.desc}}</div>
      <div class="col-5">{{this.location}}</div>
    </div>
    {{/each}}
  </div>
</form>